@model TinyCRM.Application.ViewModels.Account.RegisterViewModel

@{
    ViewData["Title"] = Localizer["ViewTitle"];
}

<section class="section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <div class="login-brand">TinyCRM</div>

                <div class="card card-primary">
                    <div class="card-header"><h4>@Localizer["RegisterTitle"]</h4></div>
                    <div class="card-body">
                        <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <div class="d-block">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-block">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" type="email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <div class="d-block">
                                        <label asp-for="Password"></label>
                                        <input asp-for="Password" class="form-control" type="password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <div class="d-block">
                                        <label asp-for="PasswordConfirmation"></label>
                                        <input asp-for="PasswordConfirmation" class="form-control" type="password">
                                        <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="@Localizer["RegisterSubmit"]">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mt-5 text-muted text-center">
                    <a asp-action="Login">Log in</a>
                </div>
            </div>
        </div>
    </div>
</section>
