@model TinyCRM.Application.ViewModels.NaturalPerson.NaturalPersonViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "New Natural Person";
}

<section class="section">
    <div class="section-header">
        <h1>@ViewData["Title"]</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></div>
            <div class="breadcrumb-item"><a asp-area="" asp-controller="NaturalPerson" asp-action="Index">Natural people</a></div>
            <div class="breadcrumb-item active">New</div>
        </div>
    </div>
    <div class="section-body">
        <h2 class="section-title">General</h2>
        <div class="card">
            @await Html.PartialAsync("_Form.cshtml", Model)
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/zipcode.js"></script>
}